<mat-card class="container my-3 p-4">
  <h1 class="text-center">Update Product</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mb-3 full-width">
      <mat-label>Product Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error
        *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)">
        <div *ngIf="productForm.get('name')?.errors?.['required']">Product name is required.</div>
        <div *ngIf="productForm.get('name')?.errors?.['maxlength']">Product name cannot exceed 200 characters.</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-3 full-width">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" />
      <mat-error
        *ngIf="productForm.get('price')?.invalid && (productForm.get('price')?.dirty || productForm.get('price')?.touched)">
        <div *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</div>
        <div *ngIf="productForm.get('price')?.errors?.['pattern']">Price must be a decimal value with up to 2 decimal
          places.</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-3 full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="productForm.get('categoryId')?.invalid && (productForm.get('categoryId')?.dirty || productForm.get('categoryId')?.touched)">
        Category ID is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-3 full-width">
      <mat-label>Product Stock</mat-label>
      <input matInput type="number" formControlName="stock" />
      <mat-error
        *ngIf="productForm.get('stock')?.invalid && (productForm.get('stock')?.dirty || productForm.get('stock')?.touched)">
        Product stock is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-3 full-width">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" />
      <mat-error
        *ngIf="productForm.get('description')?.invalid && (productForm.get('description')?.dirty || productForm.get('description')?.touched)">
        <div *ngIf="productForm.get('description')?.errors?.['maxlength']">Description cannot exceed 500 characters.
        </div>
      </mat-error>
    </mat-form-field>

    <div class="mb-3 full-width">
      <mat-label>Product Image</mat-label>
      <input type="file" (change)="onFileChange($event)" class="form-control" />
    </div>

    <button mat-raised-button type="submit" class="custom-primary-button mb-2 mb-md-0 me-md-2 w-100 w-md-auto">Update Product</button>
  </form>
</mat-card>