<mat-toolbar color="primary" class="mat-elevation-z4 custom-toolbar">
  <div class="container-fluid">
    <a mat-button routerLink="" class="navbar-brand">Home</a>
    <span class="spacer"></span>
    <a mat-button [routerLink]="urlEnums.favorites" class="navbar-brand">
      <mat-icon class="text-danger">favorite</mat-icon> Favorites
    </a>
    <a mat-button [routerLink]="urlEnums.basket" class="navbar-brand">
      <mat-icon class="text-warning">shopping_cart</mat-icon> Basket
    </a>
    <ng-container *ngIf="tokenStatus; else loggedOut">
      <button mat-button [matMenuTriggerFor]="accountMenu" class="navbar-brand">
        <mat-icon class="text-dark">account_circle</mat-icon> My Account
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item [routerLink]="urlEnums.myAccount">My Account</button>
        <button mat-menu-item [routerLink]="urlEnums.adminPanel">Admin Panel</button>
      </mat-menu>
      <a mat-button (click)="logout()" class="navbar-brand">Logout</a>
    </ng-container>
    <ng-template #loggedOut>
      <a mat-button [routerLink]="urlEnums.login" class="navbar-brand">Login</a>
    </ng-template>
  </div>
</mat-toolbar>