.custom-toolbar {
  background-color: rgb(18, 113, 255) !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.text-danger {
  color: #dc3545 !important;
}

.text-primary {
  color: #007bff !important;
}

.text-success {
  color: #28a745 !important;
}
