.placeholder-image {
  min-height: 300px;
  min-width: 100%;
  background-color: #f0f0f0;
}

.favorite-button {
  margin-left: auto;
}

.favorite-button mat-icon {
  vertical-align: middle;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
