.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  color: #333;
}

.order-panel {
  margin-bottom: 1rem;
}

.order-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-description div {
  margin-left: 20px;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details p {
  margin: 0;
}

.product-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.product-item:before {
  content: '';
  display: block;
  width: 2px;
  background-color: #ddd;
  height: 80px;
  margin-right: 20px;
}
