<mat-card class="container my-3 p-4">
  <h2>Add Category</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mb-3 full-width">
      <mat-label>Category Name</mat-label>
      <input matInput id="name" type="text" formControlName="name">
      <mat-error
        *ngIf="categoryForm.get('name')?.invalid && (categoryForm.get('name')?.dirty || categoryForm.get('name')?.touched)">
        <div *ngIf="categoryForm.get('name')?.errors?.['required']" class="text-danger">Category name is required.</div>
        <div *ngIf="categoryForm.get('name')?.errors?.['maxlength']" class="text-danger">Category name cannot be longer
          than 100 characters.</div>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" class="custom-primary-button mb-2 mb-md-0 me-md-2 w-100 w-md-auto"
      [disabled]="categoryForm.invalid">Save</button>
  </form>
</mat-card>