<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.imageData | byteToImage" class="img-fluid" [alt]="product.name">
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p>{{ product.productDetails.description }}</p>
      <h4>${{ product.price }}</h4>
      <button (click)="addToBasket()" class="btn btn-success mt-2">
        <i class="fa fa-shopping-cart"></i> Basket
      </button>
      <button (click)="addToFavorites()" class="btn btn-primary mt-2 ms-2">
        <i class="fas fa-heart text-danger"></i> Favorite
      </button>
    </div>
  </div>
</div>