<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.imageData | byteToImage" class="img-fluid" [alt]="product.name">
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p><b>Açıklama:</b> {{ product.description }}</p>
      <p><b>Fiyat:</b> {{ product.price }} $</p>
      <p><b>Stok Durumu:</b> {{ product.stock }}</p>
      <button *ngIf="decodedToken" (click)="addToBasket()" class="btn btn-success mt-2">
        <i class="fa fa-shopping-cart text-warning"></i> Add To Basket
      </button>
      <button *ngIf="decodedToken && !isFavorite" (click)="addToFavorites()" class="btn btn-primary mt-2 ms-2">
        <i class="fas fa-heart "></i> Favorite
      </button>
      <button *ngIf="decodedToken && isFavorite" (click)="addToFavorites()" class="btn btn-primary mt-2 ms-2">
        <i class="fas fa-heart text-danger"></i> Favorite
      </button>
      <!-- butonları boyle yapmamın sebei fav ikon içinde i olarak ngclass ile bunu değiştiremiyor olmam -->
    </div>
  </div>
</div>