<div class="row">
  <div class="row">
    <h1>Favorites</h1>
    <div *ngIf="!resolvedFavoritesData || resolvedFavoritesData.length === 0" class="col-12">
      <div class="alert alert-warning fw-bold" role="alert">
        You need to log in to add favorites.
        <a routerLink="/Login" class="alert-link text-primary">Go To Login Page</a>
    </div>
    
    </div>
    <div *ngFor="let value of resolvedFavoritesData" class="mt-3 col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card h-100 shadow-sm border-0">
        <img [src]="value.imageData | byteToImage" class="card-img-top" [alt]="value.name">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{value.name}}</h5>
          <p class="card-text">Price: {{value.price}}</p>
          <button class="btn btn-danger mt-auto" (click)="removeFromFavorites(value)">
            <i class="bi bi-trash"></i> Remove Favorite
          </button>
        </div>
      </div>
    </div>
  </div>
</div>