<div class="container-fluid py-3">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">Favorites</h1>
      <ng-container
        *ngIf="(!resolvedFavoritesData || resolvedFavoritesData.length === 0) && !tokenStatus; else favoritesAlert">
        <mat-card class="col-12">
          <mat-card-content class="alert alert-warning fw-bold" role="alert">
            You need to log in to add favorites.
            <a routerLink="/Login" class="alert-link text-primary">Go To Login Page</a>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-template #favoritesAlert>
        <ng-container *ngIf="resolvedFavoritesData.length === 0">
          <mat-card class="col-12">
            <mat-card-content class="alert alert-warning fw-bold" role="alert">
              You don't have any favorites right now.
              <a routerLink="/" class="alert-link text-primary">Go to the Home Page</a> and add some favorites.
            </mat-card-content>
          </mat-card>
        </ng-container>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
          <div *ngFor="let value of resolvedFavoritesData" class="col">
            <mat-card class="favorite-card h-100 shadow-sm border-0">
              <button mat-icon-button color="warn" class="position-absolute top-0 end-0 m-2"
                (click)="removeFromFavorites(value)">
                <mat-icon>close</mat-icon>
              </button>
              <img [routerLink]="['ProductDetails/' + value.id]" [src]="value.imageData | byteToImage"
                class="card-img-top" [alt]="value.name" (click)="navigateToProductDetails(value.id)">
              <mat-card-content class="d-flex flex-column justify-content-between">
                <div>
                  <h5 class="card-title">{{value.name}}</h5>
                  <p class="card-text fw-bold">{{value.price}} $</p>
                </div>
                <button mat-raised-button class="detail-active mb-2 mb-md-0 me-md-2 w-100 w-md-auto"
                  (click)="navigateToProductDetails(value.id)">
                  View Details
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>