<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card class="mt-5">
        <mat-card-header class="text-center">
          <h4>Register</h4>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
                <mat-error *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)">
                  <div *ngIf="registerForm.get('firstName')?.errors?.['required']">First name is required.</div>
                  <div *ngIf="registerForm.get('firstName')?.errors?.['minlength']">First name must be at least 3 characters long.</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
                <mat-error *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
                  <div *ngIf="registerForm.get('lastName')?.errors?.['required']">Last name is required.</div>
                  <div *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Last name must be at least 3 characters long.</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                  <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="registerForm.get('email')?.errors?.['email']">Email must be a valid email address.</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address">
              </mat-form-field>
            </div>
            <button mat-raised-button type="submit" [disabled]="registerForm.invalid" class="custom-primary-button full-width">
              Register
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
