/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/default.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-green-button {
  background-color: #28a745 !important;
  color: white !important;
}

.custom-green-button:hover {
  background-color: #218838 !important;
  color: white !important;
}

.custom-yellow-button {
  background-color: #ffc107 !important;
  color: rgb(0, 0, 0) !important;
}

.custom-yellow-button:hover {
  background-color: #e0a800 !important;
  color: rgb(0, 0, 0) !important;
}

.delete-button {
  background-color: #dc3545 !important;
  color: white !important;
}

.delete-button:hover {
  background-color: #c82333 !important;
  color: white !important;
}

.active {
  background-color: rgb(125, 192, 255);
  color: white;
}

.full-width {
  width: 100%;
}

.custom-primary-button {
  background-color: rgb(48, 155, 255) !important;
  color: white !important;
}

.custom-primary-button:hover {
  background-color: rgb(48, 135, 235) !important;
  color: white !important;
}

.placeholder-image {
  min-height: 300px;
  min-width: 100%;
  background-color: #f0f0f0;
}

.favorite-button {
  position: absolute;
  top: 2%;
  right: 2%;
}

.favorite-button mat-icon {
  vertical-align: middle;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
