/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/default.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-green-button {
  background-color: #a6f8aa !important;
}

.custom-green-button:hover {
  background-color: #53e400 !important;
}

.custom-yellow-button {
  background-color: #ffd600 !important;
}

.custom-yellow-button:hover {
  background-color: #e6bd00 !important;
}
