<mat-card class="container my-3 p-4">
  <h1 class="mb-4">My Account</h1>
  <form [formGroup]="accountForm">
    <div class="form-group mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>First Name</mat-label>
        <input matInput id="firstName" type="text" formControlName="firstName" class="full-width">
      </mat-form-field>
    </div>

    <div class="form-group mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" type="text" formControlName="lastName" class="full-width">
      </mat-form-field>
    </div>

    <div class="form-group mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" formControlName="email" class="full-width">
      </mat-form-field>
    </div>

    <div class="form-group mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password" class="full-width">
      </mat-form-field>
    </div>

    <button mat-raised-button class="custom-green-button me-3" type="submit" [disabled]="!accountForm.valid"
      (click)="updateUser()">
      Update
    </button>
    <button mat-raised-button class="delete-button me-3" type="button" (click)="deleteUser()">
      Delete User
    </button>
    <button mat-raised-button class="custom-yellow-button" type="button" (click)="onReset()">
      Clear
    </button>
  </form>
</mat-card>